@import "variables";
@import "reset";
//@import "fontawesome";

/* sass goes here */
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
main, header {
	display: flex;
	justify-content: center;
	align-items: center;
	> button {
		border: {
			width: 1px;
			style: solid;
			color: lightgray;
			radius: 2px;
		}
		background-color: hsla(200, 30%, 70%, 1);
		border-color: darken(hsla(200, 30%, 70%, 1), 10);
		color: white;
		cursor: pointer;
		margin: 10px 0 0 0;
	}
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: 200;
		font-size: 1.25em;
		line-height: 1.25;
		border: {
			width: 1px;
			style: solid;
			color: lightgray;
			radius: 2px;
		}
	}
	input {
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
		padding: 5px;
		margin: 10px;
		border: inherit;
		border-radius: inherit;
	}
	input:disabled {
		background-color: darken(white, 5);
	}
	input[type='button'] {
		background-color: hsla(200, 30%, 70%, 1);
		border-color: darken(hsla(200, 30%, 70%, 1), 10);
		color: white;
		cursor: pointer;
		&:hover {
			background-color: darken(hsla(200, 30%, 70%, 1), 10);
			border-color: darken(hsla(200, 30%, 70%, 1), 20);
		}
		&:disabled {
			background-color: grayscale(hsla(200, 30%, 70%, 1));
			border-color: grayscale(darken(hsla(200, 30%, 70%, 1), 10));
			cursor: not-allowed;
		}
	}
	
}









