$key: hsla(14, 99%, 50%, 1);
$comp: hsla(213, 31%, 73%, 1);
$black: hsla(0, 0%, 20%, 1);
$white: hsla(0, 0%, 100%, 1);
$gray: hsla(0, 0%, 95%, 1);
$darkgray: hsla(0, 0%, 92%, 1);
$sectioncolor: hsla(193, 7%, 58%, 1);