body {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

body {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

/* sass goes here */
main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
main div {
  position: relative;
  box-sizing: border-box;
  width: 33.3333%;
  padding: 10px 10px 10px 10px;
  font-family: sans-serif;
  overflow: hidden;
  border-width: 0 0 1px 1px;
  border-style: solid;
}
main div:last-child {
  border-width: 0 1px 1px 1px;
}
main div img {
  width: 25%;
  height: auto;
  float: left;
  margin-right: 10px;
  border: 5px solid white;
  box-shadow: 0 0 0 1px gray;
  position: relative;
  z-index: 5;
}
main div span:first-of-type {
  font-size: 1.5em;
  display: block;
  font-weight: 700;
}
main div span::before {
  content: '';
  display: block;
  width: 100%;
  height: 2em;
  position: absolute;
  z-index: 0;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}
main div::before {
  content: '';
  display: block;
  width: 3em;
  height: 3em;
  background-color: white;
  border-radius: 0 0 0 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  box-shadow: -2px 2px 10px 1px rgba(0, 0, 0, 0.25);
}
main div::after {
  display: block;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  font-size: 1.25em;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
main div:nth-child(1) {
  background-color: rgba(184, 122, 122, 0.5);
  border-color: rgba(184, 122, 122, 0.5);
}
main div:nth-child(1) span:first-of-type::before {
  background-color: rgba(184, 122, 122, 0.5);
  z-index: -1;
}
main div:nth-child(1)::after {
  content: "1";
}
main div:nth-child(2) {
  background-color: rgba(184, 132, 122, 0.5);
  border-color: rgba(184, 132, 122, 0.5);
}
main div:nth-child(2) span:first-of-type::before {
  background-color: rgba(184, 132, 122, 0.5);
  z-index: -1;
}
main div:nth-child(2)::after {
  content: "2";
}
main div:nth-child(3) {
  background-color: rgba(184, 141, 122, 0.5);
  border-color: rgba(184, 141, 122, 0.5);
}
main div:nth-child(3) span:first-of-type::before {
  background-color: rgba(184, 141, 122, 0.5);
  z-index: -1;
}
main div:nth-child(3)::after {
  content: "3";
}
main div:nth-child(4) {
  background-color: rgba(184, 150, 122, 0.5);
  border-color: rgba(184, 150, 122, 0.5);
}
main div:nth-child(4) span:first-of-type::before {
  background-color: rgba(184, 150, 122, 0.5);
  z-index: -1;
}
main div:nth-child(4)::after {
  content: "4";
}
main div:nth-child(5) {
  background-color: rgba(184, 159, 122, 0.5);
  border-color: rgba(184, 159, 122, 0.5);
}
main div:nth-child(5) span:first-of-type::before {
  background-color: rgba(184, 159, 122, 0.5);
  z-index: -1;
}
main div:nth-child(5)::after {
  content: "5";
}
main div:nth-child(6) {
  background-color: rgba(184, 168, 122, 0.5);
  border-color: rgba(184, 168, 122, 0.5);
}
main div:nth-child(6) span:first-of-type::before {
  background-color: rgba(184, 168, 122, 0.5);
  z-index: -1;
}
main div:nth-child(6)::after {
  content: "6";
}
main div:nth-child(7) {
  background-color: rgba(184, 177, 122, 0.5);
  border-color: rgba(184, 177, 122, 0.5);
}
main div:nth-child(7) span:first-of-type::before {
  background-color: rgba(184, 177, 122, 0.5);
  z-index: -1;
}
main div:nth-child(7)::after {
  content: "7";
}
main div:nth-child(8) {
  background-color: rgba(181, 184, 122, 0.5);
  border-color: rgba(181, 184, 122, 0.5);
}
main div:nth-child(8) span:first-of-type::before {
  background-color: rgba(181, 184, 122, 0.5);
  z-index: -1;
}
main div:nth-child(8)::after {
  content: "8";
}
main div:nth-child(9) {
  background-color: rgba(171, 184, 122, 0.5);
  border-color: rgba(171, 184, 122, 0.5);
}
main div:nth-child(9) span:first-of-type::before {
  background-color: rgba(171, 184, 122, 0.5);
  z-index: -1;
}
main div:nth-child(9)::after {
  content: "9";
}
main div:nth-child(10) {
  background-color: rgba(162, 184, 122, 0.5);
  border-color: rgba(162, 184, 122, 0.5);
}
main div:nth-child(10) span:first-of-type::before {
  background-color: rgba(162, 184, 122, 0.5);
  z-index: -1;
}
main div:nth-child(10)::after {
  content: "10";
}
main div:nth-child(11) {
  background-color: rgba(153, 184, 122, 0.5);
  border-color: rgba(153, 184, 122, 0.5);
}
main div:nth-child(11) span:first-of-type::before {
  background-color: rgba(153, 184, 122, 0.5);
  z-index: -1;
}
main div:nth-child(11)::after {
  content: "11";
}
main div:nth-child(12) {
  background-color: rgba(144, 184, 122, 0.5);
  border-color: rgba(144, 184, 122, 0.5);
}
main div:nth-child(12) span:first-of-type::before {
  background-color: rgba(144, 184, 122, 0.5);
  z-index: -1;
}
main div:nth-child(12)::after {
  content: "12";
}
main div:nth-child(13) {
  background-color: rgba(135, 184, 122, 0.5);
  border-color: rgba(135, 184, 122, 0.5);
}
main div:nth-child(13) span:first-of-type::before {
  background-color: rgba(135, 184, 122, 0.5);
  z-index: -1;
}
main div:nth-child(13)::after {
  content: "13";
}
main div:nth-child(14) {
  background-color: rgba(125, 184, 122, 0.5);
  border-color: rgba(125, 184, 122, 0.5);
}
main div:nth-child(14) span:first-of-type::before {
  background-color: rgba(125, 184, 122, 0.5);
  z-index: -1;
}
main div:nth-child(14)::after {
  content: "14";
}
main div:nth-child(15) {
  background-color: rgba(122, 184, 129, 0.5);
  border-color: rgba(122, 184, 129, 0.5);
}
main div:nth-child(15) span:first-of-type::before {
  background-color: rgba(122, 184, 129, 0.5);
  z-index: -1;
}
main div:nth-child(15)::after {
  content: "15";
}
main div:nth-child(16) {
  background-color: rgba(122, 184, 138, 0.5);
  border-color: rgba(122, 184, 138, 0.5);
}
main div:nth-child(16) span:first-of-type::before {
  background-color: rgba(122, 184, 138, 0.5);
  z-index: -1;
}
main div:nth-child(16)::after {
  content: "16";
}
main div:nth-child(17) {
  background-color: rgba(122, 184, 147, 0.5);
  border-color: rgba(122, 184, 147, 0.5);
}
main div:nth-child(17) span:first-of-type::before {
  background-color: rgba(122, 184, 147, 0.5);
  z-index: -1;
}
main div:nth-child(17)::after {
  content: "17";
}
main div:nth-child(18) {
  background-color: rgba(122, 184, 156, 0.5);
  border-color: rgba(122, 184, 156, 0.5);
}
main div:nth-child(18) span:first-of-type::before {
  background-color: rgba(122, 184, 156, 0.5);
  z-index: -1;
}
main div:nth-child(18)::after {
  content: "18";
}
main div:nth-child(19) {
  background-color: rgba(122, 184, 165, 0.5);
  border-color: rgba(122, 184, 165, 0.5);
}
main div:nth-child(19) span:first-of-type::before {
  background-color: rgba(122, 184, 165, 0.5);
  z-index: -1;
}
main div:nth-child(19)::after {
  content: "19";
}
main div:nth-child(20) {
  background-color: rgba(122, 184, 174, 0.5);
  border-color: rgba(122, 184, 174, 0.5);
}
main div:nth-child(20) span:first-of-type::before {
  background-color: rgba(122, 184, 174, 0.5);
  z-index: -1;
}
main div:nth-child(20)::after {
  content: "20";
}
main div:nth-child(21) {
  background-color: rgba(122, 184, 184, 0.5);
  border-color: rgba(122, 184, 184, 0.5);
}
main div:nth-child(21) span:first-of-type::before {
  background-color: rgba(122, 184, 184, 0.5);
  z-index: -1;
}
main div:nth-child(21)::after {
  content: "21";
}
main div:nth-child(22) {
  background-color: rgba(122, 174, 184, 0.5);
  border-color: rgba(122, 174, 184, 0.5);
}
main div:nth-child(22) span:first-of-type::before {
  background-color: rgba(122, 174, 184, 0.5);
  z-index: -1;
}
main div:nth-child(22)::after {
  content: "22";
}
main div:nth-child(23) {
  background-color: rgba(122, 165, 184, 0.5);
  border-color: rgba(122, 165, 184, 0.5);
}
main div:nth-child(23) span:first-of-type::before {
  background-color: rgba(122, 165, 184, 0.5);
  z-index: -1;
}
main div:nth-child(23)::after {
  content: "23";
}
main div:nth-child(24) {
  background-color: rgba(122, 156, 184, 0.5);
  border-color: rgba(122, 156, 184, 0.5);
}
main div:nth-child(24) span:first-of-type::before {
  background-color: rgba(122, 156, 184, 0.5);
  z-index: -1;
}
main div:nth-child(24)::after {
  content: "24";
}
main div:nth-child(25) {
  background-color: rgba(122, 147, 184, 0.5);
  border-color: rgba(122, 147, 184, 0.5);
}
main div:nth-child(25) span:first-of-type::before {
  background-color: rgba(122, 147, 184, 0.5);
  z-index: -1;
}
main div:nth-child(25)::after {
  content: "25";
}
main div:nth-child(26) {
  background-color: rgba(122, 138, 184, 0.5);
  border-color: rgba(122, 138, 184, 0.5);
}
main div:nth-child(26) span:first-of-type::before {
  background-color: rgba(122, 138, 184, 0.5);
  z-index: -1;
}
main div:nth-child(26)::after {
  content: "26";
}
main div:nth-child(27) {
  background-color: rgba(122, 129, 184, 0.5);
  border-color: rgba(122, 129, 184, 0.5);
}
main div:nth-child(27) span:first-of-type::before {
  background-color: rgba(122, 129, 184, 0.5);
  z-index: -1;
}
main div:nth-child(27)::after {
  content: "27";
}
main div:nth-child(28) {
  background-color: rgba(125, 122, 184, 0.5);
  border-color: rgba(125, 122, 184, 0.5);
}
main div:nth-child(28) span:first-of-type::before {
  background-color: rgba(125, 122, 184, 0.5);
  z-index: -1;
}
main div:nth-child(28)::after {
  content: "28";
}
main div:nth-child(29) {
  background-color: rgba(135, 122, 184, 0.5);
  border-color: rgba(135, 122, 184, 0.5);
}
main div:nth-child(29) span:first-of-type::before {
  background-color: rgba(135, 122, 184, 0.5);
  z-index: -1;
}
main div:nth-child(29)::after {
  content: "29";
}
main div:nth-child(30) {
  background-color: rgba(144, 122, 184, 0.5);
  border-color: rgba(144, 122, 184, 0.5);
}
main div:nth-child(30) span:first-of-type::before {
  background-color: rgba(144, 122, 184, 0.5);
  z-index: -1;
}
main div:nth-child(30)::after {
  content: "30";
}
main div:nth-child(31) {
  background-color: rgba(153, 122, 184, 0.5);
  border-color: rgba(153, 122, 184, 0.5);
}
main div:nth-child(31) span:first-of-type::before {
  background-color: rgba(153, 122, 184, 0.5);
  z-index: -1;
}
main div:nth-child(31)::after {
  content: "31";
}
main div:nth-child(32) {
  background-color: rgba(162, 122, 184, 0.5);
  border-color: rgba(162, 122, 184, 0.5);
}
main div:nth-child(32) span:first-of-type::before {
  background-color: rgba(162, 122, 184, 0.5);
  z-index: -1;
}
main div:nth-child(32)::after {
  content: "32";
}
main div:nth-child(33) {
  background-color: rgba(171, 122, 184, 0.5);
  border-color: rgba(171, 122, 184, 0.5);
}
main div:nth-child(33) span:first-of-type::before {
  background-color: rgba(171, 122, 184, 0.5);
  z-index: -1;
}
main div:nth-child(33)::after {
  content: "33";
}
main div:nth-child(34) {
  background-color: rgba(181, 122, 184, 0.5);
  border-color: rgba(181, 122, 184, 0.5);
}
main div:nth-child(34) span:first-of-type::before {
  background-color: rgba(181, 122, 184, 0.5);
  z-index: -1;
}
main div:nth-child(34)::after {
  content: "34";
}
main div:nth-child(35) {
  background-color: rgba(184, 122, 177, 0.5);
  border-color: rgba(184, 122, 177, 0.5);
}
main div:nth-child(35) span:first-of-type::before {
  background-color: rgba(184, 122, 177, 0.5);
  z-index: -1;
}
main div:nth-child(35)::after {
  content: "35";
}
main div:nth-child(36) {
  background-color: rgba(184, 122, 168, 0.5);
  border-color: rgba(184, 122, 168, 0.5);
}
main div:nth-child(36) span:first-of-type::before {
  background-color: rgba(184, 122, 168, 0.5);
  z-index: -1;
}
main div:nth-child(36)::after {
  content: "36";
}
main div:nth-child(37) {
  background-color: rgba(184, 122, 159, 0.5);
  border-color: rgba(184, 122, 159, 0.5);
}
main div:nth-child(37) span:first-of-type::before {
  background-color: rgba(184, 122, 159, 0.5);
  z-index: -1;
}
main div:nth-child(37)::after {
  content: "37";
}
main div:nth-child(38) {
  background-color: rgba(184, 122, 150, 0.5);
  border-color: rgba(184, 122, 150, 0.5);
}
main div:nth-child(38) span:first-of-type::before {
  background-color: rgba(184, 122, 150, 0.5);
  z-index: -1;
}
main div:nth-child(38)::after {
  content: "38";
}
main div:nth-child(39) {
  background-color: rgba(184, 122, 141, 0.5);
  border-color: rgba(184, 122, 141, 0.5);
}
main div:nth-child(39) span:first-of-type::before {
  background-color: rgba(184, 122, 141, 0.5);
  z-index: -1;
}
main div:nth-child(39)::after {
  content: "39";
}
main div:nth-child(40) {
  background-color: rgba(184, 122, 132, 0.5);
  border-color: rgba(184, 122, 132, 0.5);
}
main div:nth-child(40) span:first-of-type::before {
  background-color: rgba(184, 122, 132, 0.5);
  z-index: -1;
}
main div:nth-child(40)::after {
  content: "40";
}

/* sass goes here */
main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
main div {
  box-sizing: border-box;
  width: 33.3333%;
  padding: 10px 10px 10px 10px;
  font-family: sans-serif;
}
main div img {
  float: left;
  margin-right: 10px;
}
