/* sass goes here */
nav {
	background-color: hsla(0, 0%, 0%, .10);
}
nav::before, nav::after {
	content: '';
	display: block;
	clear: both;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	li {
		display: inline-block;
		margin-left: 25px;
		color: red;
		font-size: 1em;
	}
}
main::before, main::after {
	content: '';
	display: block;
	clear: both;
}
section {
	width: 75%;
	float: left;
}
#ads {
	width: 25%;
	float: right;
	img {
		width: 100%;
		height: auto;
	}
}
@media screen and (max-width: 542px){
	ul {
		float: none;
		li {
			display: block;
			width: 100%;
			text-align: center;
			line-height: 3em;
			border-width: 1px;
			border-style: solid;
			border-color: hsla(0, 0%, 0%, .20);
			border-radius: 5px;
			margin-left: 0;
			font-size: 2em;
			color: blue;
		}
	}
	section {
		width: 100%;
		float: none;
	}
	#ads {
		width: 100%;
		display: block;
		background-color: hsla(0, 0%, 0%, .05);
		padding: 10px 0;
		img {
			width: auto;
			display: block;
			margin: 0 auto;
		}
	}
	li {
		
	}
}





@media screen and (min-width: 766px){
	p {
		font-size: 2em;
	}
}