@import "variables";
@import "reset";
//@import "fontawesome";

/* sass goes here */


$white: hsla(0, 0%, 96%, 1);
$whitelite: lighten($white, 10);
$whitedark: darken($white, 20);
$black: hsla(0, 0%, 9%, 1);
$blacklite: lighten($black, 70);
$blackdark: darken($black, 10);

$grad: hsla(220, 40%, 70%, 1);


$key: hsla(190, 50%, 60%, 1);
$keylite: lighten($key, 10);
$keydark: darken($key, 10);

$comp: complement($key);
$complite: lighten($comp, 10);
$compdark: darken($comp, 10);

%border {
	border: {
		width: 1px;
		style: solid;
		color: darken($white, 5);
		radius: 10px;
	}
}

body {
	font: {
		family: 'Fira Sans', sans-serif;
		size: 100%;
		weight: 200;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font: {
		family: 'Klinic Slab', serif;
		weight: 400;
	}
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
}
section {
	background-color: $white;
	padding: 20px;
	margin: 20px 0;
	@extend %border;
}
#litterBox {
	width: 50vw;
	height: 50vw;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	background-color: white;
	@extend %border;
	img {
		width: 6vw;
		height: auto;
	}
}

#catCounter {
	padding: 20px 0 0 0;
	position: relative;
	img {
		display: none;
		width: 50%;
		height: auto;
		position: absolute;
		right: 0;
		bottom: 0;
		transform: rotate(10deg) translate3d(25%, 25%, 0);
	}
}
#catCounter form,
#catCounter label {	
	display: flex;
	flex-direction: column;
}

input {
	padding: 10px 5px;
	margin: 10px 0; 
	font: {
		size: inherit;
		weight: inherit;
	}
	border: {
		width: 1px;
		style: solid;
		color: darken($white, 5);
		radius: 4px;
	}
	&[type='submit']{
		background-image: linear-gradient($keylite, $key);
		border-color: $keydark;
		cursor: pointer;
		color: $white;
		align-self: flex-start;
		&:hover {
			background-image: linear-gradient(darken($keylite, 5), darken($key, 5));
			border-color: darken($keydark, 5);
		}
	}
	&[type='reset']{
		background-image: linear-gradient($complite, $comp);
		border-color: $compdark;
		color: $white;
		cursor: pointer;
		&:hover {
			background-image: linear-gradient(darken($complite, 5), darken($comp, 5));
			border-color: darken($compdark, 5);
		}
	}
}







