/* put your scss answers here */

ol {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
$items: 40;
$hue-val: (360 / $items);
@for $i from 1 through $items {
	$hue: ($hue-val * $i);
	li:nth-of-type(#{$i}){
		&:hover {
			background-image: linear-gradient(to top, hsl($hue, 30%, 60%), hsl($hue, 30%, 80%));
		}
		&::before {
			content: '#{$i}';
		}
	}
}













