$white: hsla(0, 0%, 92%, 1);
$white-light: lighten($white, 2);
$white-lighter: lighten($white, 4);
$white-lightest: lighten($white, 8);
$white-dark: darken($white, 5);
$white-darker: darken($white, 10);
$white-darkest: darken($white, 15);
$black: hsla(0, 0%, 8%, 1);
$black-light: lighten($black, 5);
$black-lighter: lighten($black, 10);
$black-lightest: lighten($black, 15);
$black-dark: darken($black, 2);
$black-darker: darken($black, 4);
$black-darkest: darken($black, 8);
$main: hsla(150, 60%, 30%, 1);
$main-light: lighten($main, 5);
$main-lighter: lighten($main, 10);
$main-lightest: lighten($main, 15);
$main-dark: darken($main, 5);
$main-darker: darken($main, 10);
$main-darkest: darken($main, 15);