@import "variables";
@import "test";
//@import "each";

@function headings($from:1, $to:6){
	@if $from == $to {
		@return 'h#{$from}';
	}@else{
		@return 'h#{$from},' + headings($from+1, $to);
	}
}

body {
	font-family: sans-serif;
	font-weight: 400;
	margin: 20px;
	background-color: lighten(adjust-hue($main-lightest, 30), 40);
}
#{headings(1, 6)}{
	margin: 0;
	font-weight: 400;
}
h1 {
	text-align: center;
}
h2 {
	font-size: 80%;
	color: complement($main);
	text-transform: uppercase;
}
a {
	display: block;
	padding: 5px 15px;
	background-color: $main;
	border-width: 1px;
	border-style: solid;
	border-color: $main-darker;
	border-radius: 5px;
	color: $white;
	text-decoration: none;
	text-align: center;
	font-weight: 100;
	font-size: 80%;
	align-self: center;
	margin-top: auto;
}
h1 + p {
	margin: 0;
	text-align: center;
	margin-bottom: 50px;
}
small {
	color: transparentize($black, .5);
	margin-bottom: 20px;
}
ol {
	list-style: none;
	padding: 10px;
	margin: 0;
	border-radius: 5px;
	background-image: linear-gradient(to top, $black, $black-lightest);
	
}
li {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 150px;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	overflow: hidden;
	background-image: linear-gradient(to top, $white-dark, $white-lighter);
	h1 {
		font-size: 125%;
		margin-top: 30px;
		text-align: left;
		&:first-letter{
			text-transform: uppercase;
		}
	}
	&::before {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: transparentize($black, .75);
		position: absolute;
		left: -6px;
		top: -12px;
		font-size: 200%;
		color: $white-lightest;
		font-weight: 100;
	}
}