body {
	background-color: hsla(0, 0%, 8%, 1);
}
ul {
	width: 80%;
	margin: 0 auto;
	background-color: hsla(0, 0%, 92%, 1);
	list-style: none;
	padding: 20px;
}
li {
	padding: 20px;
	border-bottom: 1px solid gray;
}
li:last-of-type{
	border: none;
}
img {
	float: left;
	margin-right: 20px;
	border-radius: 50%;
	padding: 10px;
	background-color: hsla(0, 0%, 100%, 1);
	border: 1px solid gray;
	transition: all 250ms ease-in-out;
}
li:nth-of-type(even) img {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}
a {
	display: block;
	text-align: right;
	background-color: hsla(90, 40%, 50%, 1);
	color: hsla(0, 0%, 100%, 1);
	text-decoration: none;
	padding: 5px;
	border: 1px solid hsla(90, 40%, 40%, 1);
	border-radius: 4px;
	text-shadow: 1px 1px 1px hsla(90, 40%, 30%, 1);
	transition: all 250ms ease-in-out;
}
a:hover {
	padding-right: 85%;
}
li:hover img {
	transform: scale(2) rotate(-10deg);
}
li:nth-of-type(even):hover img {
	transform: scale(2) rotate(10deg);
}