@import "variables";
@import "reset";
//@import "fontawesome";

/* sass goes here */

body {
	font: {
		family: sans-serif;
		weight: 200;
		size: 100%;
	}
}

h1 {
	font-weight: 400;
	text-align: center;
	margin: 0;
}

#cal {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 40px auto 0;
	padding: 20px;
	button {
		flex: none;
		border: 1px solid lightgray;
		border-radius: 2px;
		background-color: white;
		color: black;
		cursor: pointer;
	}
	.content {
		flex: none;
		width: 50px * 7;
		margin: 0 20px;
		border-radius: 2px;
		.month{
			padding: 0 0 10px;
		}
		.daysOfWeek {
			display: flex;
			span {
				display: inline-block;
				width: 50px;
				text-align: center;
				font-size: 75%;
				opacity: .25;
				line-height: 1.5;
			}
		}
		.days{
			display: flex;
			flex-wrap: wrap;
			width: 50px * 7;
			border: {
				width: 1px 0 0 1px;
				style: solid;
				color: black;
			}
			div {
				width: 50px;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				box-sizing: border-box;
				border: {
					width: 0 1px 1px 0;
					style: solid;
					color: black;
				}
			}
		}
	}
}