$main-color: random(360);
$white: hsla(0, 0%, 92%, 1);
$white-light: lighten($white, 2);
$white-lighter: lighten($white, 4);
$white-lightest: lighten($white, 8);
$white-dark: darken($white, 10);
$white-darker: darken($white, 20);
$white-darkest: darken($white, 30);
$white-hover: 3;
html {
	height: 100%;
}
body {
	display: flex;
	align-items: flex-start;
	height: 100%;
	position: relative;
	margin: 0;
	background-color: transparent;
}
button {
	display: block;
	margin: 10px;
	padding: 10px 30px;
	color: saturate(adjust-hue($white-darkest, $main-color), 50);
	background-color: saturate(adjust-hue($white-lighter, $main-color), 50);
	border: 1px solid saturate(adjust-hue($white-darker, $main-color), 50);
	cursor: pointer;
	outline: none;
	&:hover {
		color: darken(saturate(adjust-hue($white-darkest, $main-color), 50), $white-hover);
		background-color: darken(saturate(adjust-hue($white-lighter, $main-color), 50), $white-hover);
		border-color: darken(saturate(adjust-hue($white-darker, $main-color), 50), $white-hover);
	}
}
div#bg-img {
	position: absolute;
	top: 0;right: 0;bottom: 0;left: 0;
	z-index: -1;
	background: {
		size: cover;
		position: center;
	}
}
$bgs: stark targaryen arryn baratheon lannister martell tully tyrell;
@each $bg in $bgs {
	$i: index($bgs, $bg);
	div.img-#{$i}{
		background-image: url('../got/house-#{$bg}.jpg');
	}
}


