/* sass goes here */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
/* GLOBAL styles start */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

h2 {
  font-size: 3em;
  margin-bottom: 0;
}
h2 + p {
  width: 100% !important;
  font-size: 3em;
  font-weight: 300;
}

h3 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 5px;
}

hr {
  width: 15%;
  margin: 50px auto;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  display: inline-block;
  color: #347ab7;
  text-transform: uppercase;
  padding: 10px 25px;
  margin: 100px 0 0;
  border-width: 2px;
  border-style: solid;
  border-color: #347ab7;
}
.btn:hover {
  background-color: rgba(52, 122, 183, 0.1);
}

/* GLOBAL styles end */
header nav::before, section#news::before, footer::before, header nav::after, section#news::after, footer::after {
  content: '';
  display: block;
  clear: both;
}

header {
  background-image: url("../img/jamies-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 250px 0;
}
header nav {
  width: 100%;
  padding: 20px 0;
  color: white;
  background-color: rgba(67, 68, 76, 0.85);
  position: fixed;
  top: 0;
  left: 0;
}
header nav h1 {
  float: left;
  margin-bottom: 0;
}
header nav h1 a {
  display: block;
  width: 200px;
  height: 50px;
  background-image: url("../img/main-logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
header nav ul {
  float: right;
}
header nav li {
  display: inline-block;
  line-height: 50px;
  margin-left: 20px;
}

section {
  text-align: center;
  padding: 50px 0;
}
section p {
  width: 75%;
  margin: 0 auto;
}

#studies {
  color: white;
}
#studies .case:nth-child(1) {
  background-image: url("../img/five-guys-hero-1024x576.jpg");
}
#studies .case:nth-child(2) {
  background-image: url("../img/chiquito-hero-1024x576.jpg");
}
#studies .case:nth-child(3) {
  background-image: url("../img/hawksmoor-hero-1024x576.jpg");
}
#studies .case:nth-child(4) {
  background-image: url("../img/jamies-hero-1024x576.jpg");
}
#studies .case {
  float: left;
  width: 25%;
  height: 25vw;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#studies .case::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  float: left;
  background-color: transparent;
  transition: background-color 200ms ease-in-out;
}
#studies .case:hover::before {
  background-color: rgba(19, 19, 22, 0.75);
}
#studies .case:hover p {
  top: 0;
}
#studies .case:hover .btn {
  bottom: 2.5vw;
}
#studies p {
  text-align: center;
  margin: 2.5vw 0;
  position: relative;
  top: -25vw;
  transition: top 200ms ease-in-out;
}
#studies img {
  display: block;
  width: 15vw;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
#studies .btn {
  position: absolute;
  left: calc(50% - 95px);
  bottom: -25vw;
  margin: 0;
  color: white;
  border-color: white;
  transition: bottom 200ms ease-in-out;
}

section#thesra {
  color: white;
  background-image: linear-gradient(rgba(52, 122, 183, 0.75), rgba(52, 122, 183, 0.75)), url("../img/hawksmoor-hero-1024x576.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
section#thesra img {
  display: block;
  margin: 50px auto 0;
}
section#thesra .btn {
  border-color: white;
  color: white;
}
section#thesra .btn:hover {
  background-color: rgba(67, 68, 76, 0.25);
}

section#news div {
  width: 33.3333%;
  float: left;
}
section#news a {
  display: inline-block;
  margin: 100px 0 0;
  font-weight: 700;
  color: #347ab7;
}
section#news a:hover {
  color: #285f8f;
}

footer {
  color: white;
  background-color: #43444c;
  padding: 50px 0;
}
footer div {
  width: 33.3333%;
  float: left;
}
footer h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
}
footer p {
  font-size: 80%;
  font-weight: 300;
}
