body {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

/* sass goes here */
body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  color: #171717;
  line-height: 1.5;
}

input {
  font: inherit;
  color: white;
  padding: 5px 20px;
  box-sizing: border-box;
  line-height: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c9c9;
  border-radius: 4px;
}
input[type='text'] {
  padding: 5px;
  color: #171717;
}
input[type='reset'] {
  background-image: linear-gradient(#d9998c, #cc7766);
  border-color: #bf5540;
  cursor: pointer;
}
input[type='reset']:hover {
  background-image: linear-gradient(#d28879, #c66653);
  border-color: #ac4d39;
}
input[type='submit'] {
  background-image: linear-gradient(#8cccd9, #66bbcc);
  border-color: #40aabf;
  cursor: pointer;
}
input[type='submit']:hover {
  background-image: linear-gradient(#79c4d2, #53b3c6);
  border-color: #3999ac;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Klinic Slab', serif;
  font-weight: 400;
}

section {
  background-image: linear-gradient(whitesmoke, whitesmoke);
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c9c9;
  border-radius: 10px;
  width: 75%;
  margin: 10vw auto;
}

header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 20px 0;
}

#catDisp {
  width: 100%;
  min-height: 30vw;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c9c9;
  border-radius: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      -webkit-align-content: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
#catDisp img {
  width: 50px;
  height: auto;
}

#catPanel {
  padding: 20px 0 0 0;
}
#catPanel h2 {
  font-size: 1.10em;
  opacity: 0.5;
}
#catPanel form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#catPanel form input {
  margin: 10px 0 10px 0;
  background-color: white;
}
#catPanel form input[type='text'] {
  width: 100%;
  cursor: text;
  background-color: white;
}
#catPanel form input[type='text']:disabled {
  cursor: not-allowed;
  background-color: #e8e8e8;
}
