@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

$black: hsla(213, 15%, 35%, 1);
$white: hsla(0, 0%, 96%, 1);
$blue: hsla(208, 56%, 60%, 1);
$gray: hsla(0, 0%, 56%, 0.25);
$purple: hsla(227, 64%, 67%, 1);
$pink: hsla(337, 61%, 71%, 1);