@import "variables";
@import "reset";
//@import "fontawesome";

/* sass goes here */
main {
	overflow: hidden;
	position: relative;
	#second,
	#hour,
	#minute {
		position: absolute;
		top: 0;
		left: 50%;
		width: 10.7vw;
		height: auto;
		transform: translate3d(-50%, 0, 0) rotate(0deg);
		filter: drop-shadow(3px 3px 3px hsla(0, 0%, 0%, .25));
		// transition: transform 1000ms ease-in-out;
	}
	img {
		width: 100%;
		height: auto;
	}
}

