@import "variables";
@import "reset";

/* sass goes here */
main {
	overflow: hidden;
	position: relative;
	#second,
	#hour,
	#minute {
		position: absolute;
		top: 0;
		left: 50%;
		width: 10.7vw;
		height: auto;
		transform: translate3d(-50%, 0, 0) rotate(0deg);
		//filter: drop-shadow(0px 10px 3px hsla(0, 0%, 0%, 1));
	}
	img {
		width: 100%;
		height: auto;
	}
}

