@import "variables";
@import "reset";
@import "fontawesome";

/* sass goes here */

$white: hsla(0, 0%, 96%, 1);
$whitelite: hsla(0, 0%, 100%, 1);
$whitedark: hsla(0, 0%, 86%, 1);

$black: hsla(0, 0%, 9%, 1);
$blacklite: hsla(0, 0%, 29%, 1);
$blackdark: hsla(0, 0%, 0%, 1);

$key: hsla(224, 18%, 35%, 1);

$comp: hsla(44, 18%, 65%, 1);
$compdark: hsla(44, 18%, 55%, 1);

@mixin border($color, $radius){
	border: {
		width: 1px;
		style: solid;
		color: $color;
		radius: $radius;
	}
}

body {
	font: {
		size: 100%;
		weight: 200;
		family: sans-serif;
	}
	line-height: 1.35;
	color: $black;
	background-color: $whitedark;
}
main {
	width: 80vw;
	margin: 0 auto;
	background-color: $key;
	padding: 50px 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	> div {
		width: 40%;
		background-color: $white;
		> div:first-child {
			position: relative;
			overflow: hidden;
			display: flex;
			img {
				width: 100%;
				height: auto;
			}
			div {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 100%;
				left: 0;
				background-color: transparentize($black, .25);
				color: $whitelite;
				display: flex;
				justify-content: center;
				align-items: center;
				p {
					width: 85%;
					text-align: justify;
				}
				p::before {
					width: .8em;
					content:"\f206";
					display:block;
					font:normal normal normal 14px/1 FontAwesome;
					font-size:inherit;
					text-rendering:auto;
					-webkit-font-smoothing:antialiased;
					-moz-osx-font-smoothing:grayscale;
					font-size: 2.5em;
					line-height: 1.5;
				}
				p.spin::before {
					transition: all 250ms linear;
					transform: rotate(360deg);
				}
			}
		}
		> div:last-child {
			padding: 20px 10px;
			a {
				display: inline-block;
				@include border($compdark, 4px);
				background-color: $comp;
				padding: 5px 10px;
			}
		}
	}
	> div:nth-child(1) > div:first-child p::before {
		content: '\f209';
	}
	> div:nth-child(2) > div:first-child p::before {
		content: '\f259';
	}
	> div:nth-child(3) > div:first-child p::before {
		content: '\f288';
	}
	> div:nth-child(4) > div:first-child p::before {
		content: '\f200';
	}
}







