*, *::before, *::after {
	box-sizing: border-box;
}
main {
	@extend %clearfix;
	/*
	&::before,
	&::after {
		content: "";
		display: block;
		clear: both;
	}
	*/
}

aside {
	@extend %clearfix;
	width: $aside-width;
	float: left;
}
article {
	width: $asides;
	float: left;
}