@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
ul::before, li::before, ul::after, li::after {
  content: '';
  display: block;
  clear: both;
}

li i, li span {
  background-image: linear-gradient(to top, #57c7ff, #57ffee);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

li {
  width: 50%;
  float: left;
  text-align: center;
  background-color: #ff5757;
}
li i {
  float: right;
}
li span {
  float: left;
}
