@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300);
header nav::before, #promo-silos > div::before, #services ul::before, header nav::after, #promo-silos > div::after, #services ul::after {
  content: '';
  display: block;
  clear: both;
}

header, #promo-silos, #services {
  padding-left: 5%;
  padding-right: 5%;
}

/* GLOBAL styles start */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

h2 {
  text-align: center;
  margin-bottom: .25em;
}

h2 + p {
  text-align: center;
  font-size: 1.35em;
  font-weight: 300;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: 600;
  background-color: #e37764;
}
.btn.btn-info {
  background-color: #484e56;
}

/* GLOBAL styles end */
/* HEADER styles start */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/banner.jpg");
  background-size: auto auto, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  color: white;
  padding-bottom: 50px;
}
header nav {
  background-color: #484e56;
  position: relative;
  margin-bottom: 50px;
}
header nav::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg01.png");
  opacity: .25;
}
header nav h1 {
  float: left;
  position: relative;
  z-index: 100;
  background-color: #e37764;
  padding: 0 25px;
}
header nav ul {
  position: relative;
  z-index: 100;
  float: right;
}
header li {
  display: inline-block;
}
header h1, header li {
  font-size: 1em;
  line-height: 2em;
  margin: 0;
}
header a {
  text-decoration: none;
}

/* HEADER styles end */
/* PROMO-SILOS styles start */
#promo-silos > div {
  text-align: center;
  padding: 25px 0;
}
#promo-silos > div:first-child > div {
  box-sizing: border-box;
  float: left;
  width: 33%;
  border-right: 1px solid lightgray;
  padding: 0 20px;
}
#promo-silos > div:first-child > div:last-child {
  border: none;
}
#promo-silos > div:last-child > div {
  float: left;
  width: 50%;
}
#promo-silos > div > div:first-child a {
  float: right;
  margin-right: 10px;
}
#promo-silos > div > div:last-child a {
  float: left;
  margin-left: 10px;
}
#promo-silos i {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  position: relative;
  color: white;
}
#promo-silos i::before {
  position: relative;
  z-index: 100;
}
#promo-silos i::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-color: transparent transparent #e37764 transparent;
  border-style: solid;
  border-width: 0px 30px 50px 30px;
}
#promo-silos .btn {
  display: block;
  width: 50%;
}

/* PROMO-SILOS styles end */
/* SERVICES styles start */
#services {
  background-image: url("../img/bg01.png");
}
#services li {
  width: 30%;
  margin-right: 5%;
  float: left;
}
#services li:nth-child(3n) {
  margin: 0;
}
#services li img {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: white;
}

/* SERVICES styles end */
