@import "reset";
@import "fontawesome";

html {
	height: 100%;
	background: {
		image: url('../img/wood.jpg');
		position: center;
		size: cover;

	}
}
body {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	main {
		width: (85px * 6);
	}
	main > img {
		border-radius: 10px;
		box-shadow: 0 5px 10px transparentize(black, .25);
		margin: 5px;
	}

	.overlay {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: transparentize(black, .25);
		z-index: 1000;
		.close {
			cursor: pointer;
			opacity: .25;
			margin: 10px;
			position: absolute;
			top: 0;
			right: 0;
			width: 3vw;
			height: 3vw;
			display: block;
			background: {
				image: url('../img/close.svg');
				position: center;
				size: cover;
			}
			&:hover {
				opacity: 1;
			}
		}
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			max-width: 90%;
			max-height: 90%;
			transform: translate3d(-50%, -50%, 0);
		}
		i {
			color: white;
			filter: drop-shadow(0 0 3px black);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
		}
	}
}